   <footer>
        <div class="copyright">
            <p>copyright @Daudu charles <i class="fa-solid fa-heart"></i> my personal portfolio</p>
        </div>
    </footer>



    <script src="/js/index.js"></script>
</body>
</html>