
    <div id="header">
         <div class="container">
            <nav>
                 <h1>BlaqTech</h1>
                 <ul class="ul-li">
                    <li class="lists"><a href="#header" class="active">Home</a></li>
                    <li class="lists"><a href="#about">About</a></li>
                    <li class="lists"><a href="#services">Services</a></li>
                    <li class="lists"><a href="#portfolio">Projects</a></li>
                    <li class="lists"><a href="#contact">Contact</a></li>
                    <i class="fa-solid fa-xmark"></i>
                 </ul>
                 <div class="hamburger">
                    <i class="fa-solid fa-bars"></i>
                 </div>
            </nav>
            <div class="header-text">
                <p>FULL-STACK WEB DEVELOPER</p>
                <h1>Hi, I'm <span>Daudu Arunegbode</span> <br> Charles from <span>Nigeria.</span></h1>
                <a href="#about" class="btn">About Me &#8594;</a>
            </div>
         </div>
    </div>


    <!--ABOUT SECTION HTML  -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/images/portfolio_pic.jpg" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>I'm A full stack web developer{MERN STACK} looking to join the workforce to gain real-world experience. Ability to complete tasks on time in both individual and team settings. Dependable and reliable, ready to learn and grow with your company. I'm also an Industrial and Production Engineering graduate with efficient knowledge in procuction processes and extensive knowledge in product inspection,reliablity and management of man, machine and materials for productivity.</p>

                    <div class="tab-titles">
                        <p class="tab-links active-link skill">Skills</p>
                        <p class="tab-links experience">Experience</p>
                        <p class="tab-links education">Education</p>
                    </div>
                    <div class="tab-contents active-tab skills">
                        <ul>
                            <li><span>WEB DEVELOPMENT</span></li>
                            <li><span>HTML5</span></li>
                            <li><span>CSS3</span></li>
                            <li><span>JAVASCRIPT</span></li>
                            <li><span>JQUERY</span></li>
                            <li><span>BOOTSTRAP</span></li>
                            <li><span>NODE JS</span></li>
                            <li><span>EXPRESS</span></li>
                            <li><span>MONGO DB</span></li>
                            <li><span>REACT JS</span></li>
                            <li><span>GIT</span></li>
                            <li><span>GITHUB</span></li>
                        </ul>
                    </div>
                    <div class="tab-contents Experience">
                        <ul>
                            <li><span>2022</span>internship codar institute</li>
                        </ul>
                    </div>
                    <div class="tab-contents Education">
                        <ul>
                            <li><span>2022</span>full-stack web development Codar Institute Lagos State, Nigeria.</li>
                            <li><span>2021</span> B.Eng Industrial And Production Engineering Ambrose Alli University Ekpoma,Edo State, Nigeria. <br><span>{second class Upper division(4.08 CGPA)}</span></li>
                            <li><span>2013</span>SSCE Comprehensive High School Ekpedo,Edo State, Nigeria.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#header" class="back-top-btn">back top &#8594;</a>
    </div>

    <!-- SERVICES SECTION -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <hr>
            <div class="services-list">
                <div>
                    <h2>Front-end web Development</h2>
                    <p>With My Front-end web development Skills, I have built couple of responsive website and Web Application.With the amaizing feedbacks from the few clients I have worked with I'm confident enough to deliver quality websites with unique and user friendly experience when contacted.</p>
                    <a href="#contact">Contact Me &#8594;</a>
                </div>
                <div>
                    <h2>Back-End Web Development</h2>
                    <p>Back-end development means working on server-side software, which focuses on everything you can’t see on a website. With My Back-end skills I will ensure the website performs correctly, focusing on databases, back-end logic, application programming interface (APIs), architecture, and servers.</p>
                    <a href="#contact">Contact Me &#8594;</a>
                </div>
                <div>
                    <h2>App Development</h2>
                    <p>With My App Development skill Using Flutter I have built series of Android and IOS Mobile Applications with unique features.</p>
                    <a href="#contact">Contact Me &#8594;</a>
                </div>
            </div>
        </div>
        <a href="#header" class="back-top-btn">back top &#8594;</a>
    </div>

    <!-- portfolio work section -->
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <hr>
            <div class="work-lists">
                <div class="work">
                    <img src="/images/calculator.jpg" alt="">
                    <div class="work-info-link">
                        <h3>iphone calculator clone</h3>
                        <p>Iphone calculator clone i made with HTML,CSS 7 JAVASCRIPT.. it can perform all the mathematical operations in most calculators..</p>
                        <a href="#">view &#8594;</a>
                    </div>
                </div>
                <div class="work">
                    <img src="/images/todo app.jpg" alt="">
                    <div class="work-info-link">
                        <h3>ToDo-list Web App with CRUD functionality.</h3>
                        <p>Todo list app is unique app that allow one to capture things or tasks they would want to accomplish, it also helps to break big work into smaller tasks and then acheive the end result step by step.</p>
                        <a href="https://dauducharles.herokuapp.com/">view &#8594;</a>
                    </div>
                </div>
                <div class="work">
                    <img src="/images/laundry web.jpg" alt="">
                    <div class="work-info-link">
                        <h3>laundry website</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto blanditiis, libero debitis praesentium esse id ea corrupti illum deleniti.</p>
                        <a href="#">view &#8594;</a>
                    </div>
                </div>
                <div class="work">
                    <img src="/images/analog clock.jpg" alt="">
                    <div class="work-info-link">
                        <h3>analog clock</h3>
                        <p>Analog clock i built with HTML,CSS & JAVASCRIPT. I made use of some JavaScript methods and functions like , new Date and setInterval to implement it functionality.</p>
                        <a href="#">view &#8594;</a>
                    </div>
                </div>
                <div class="work">
                    <img src="/images/blog photo.jpg" alt="">
                    <div class="work-info-link">
                        <h3>Blog  website</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto blanditiis, libero debitis praesentium esse id ea corrupti illum deleniti.</p>
                        <a href="#">view &#8594;</a>
                    </div>
                </div>
                <div class="work">
                    <img src="/images/games.jpg" alt="">
                    <div class="work-info-link">
                        <h3>color games app</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto blanditiis, libero debitis praesentium esse id ea corrupti illum deleniti.</p>
                        <a href="#">view &#8594;</a>
                    </div>
                </div>
            </div>
            <a href="#" class="btn">See more &#8594;</a>
        </div>
        <a href="#header" class="back-top-btn">back top &#8594;</a>
    </div>
    <!-- the contact section -->
    <div id="contact">
        <div class="container">
            <h1 class="sub-title">Contact Me</h1>
            <hr>
            <div class="row">
                <div class="contact-info-left">
                    <h2 class="sub-title">contact info</h2>
                    <p> <i class="fa-light fa-envelopes-bulk"></i> Blaqwayschannel@gmail.com</p>
                    <p><i class="fa-sharp fa-solid fa-phone"></i> 08101605165</p>
                    <div class="sociol-media-icon">
                        <a href="https://web.facebook.com/princedaudu.charles"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://twitter.com/Off_charleeblaq"><i class="fa-brands fa-square-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/webtechwithdaudu/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/charleeBlaqTech"><i class="fa-brands fa-square-github"></i></a>
                    </div>
                    <a href="/images/CV-1.jpg" download class="btn">Download CV</a>
                </div>
                <div class="contact-info-right">
                    <form action="/" method="post">
                        <label for="">
                            <input type="text" name="name" id="" placeholder="Your Name" required>
                        </label>
                        <label for="">
                            <input type="email" name="email" id="" placeholder="Your email" required>
                        </label>
                        <textarea name="content" id="" cols="30" rows="10" placeholder="your message"></textarea>
                        <button type="submit" class="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
        <a href="#header" class="back-top-btn">back top &#8594;</a>
    </div>
 